<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="List resto terbaik di Indonesia">
  <meta name="theme-color" content="#6D8B74"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
  <title>Learnify</title>
 
</head>
<body>
    <header-app></header-app>
    <landing-page></landing-page>
    <article id="module" class="module">
      
    </article>
    <about-page></about-page>
    
  </body>
</html>