@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
}

body {
  background-color: #6998AB;
}
main {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #6998AB;
  margin-top: 30px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.dash-tagline {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 14px;
  font-size: 30px;
}
.headline {
  margin-top: 20px;
  font-size: 13px;
  color: black;
}

.sticky{
  background-color: #406882;
  padding: 12px;
}

.picture-page{
  width: 100%;
}