
@media screen and (max-width: 800px) {
    .content-section .module {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dash-tagline {
        font-size: 25px;
    }

    .headline {
        font-size: 11px;
    }

    .title a{
        font-size: 15px;
    }  
    
}

@media screen and (max-width: 650px) {
    .headline {
        font-size: 10px;
    }

    .title a{
        font-size: 11px;
    }

    .sub-module-item p{
        font-size: 10px;
    }

    .title-sub-module {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .content-section .module {
        display: grid;
        grid-template-columns: 1fr;
    }
    .headline {
        font-size: 12px;
    }

    .title a{
        font-size: 16px;
    }

}

@media screen and (max-width: 400px) {
    .sub-module-item {
        padding: 10px 20px;
      }
      
      img {
        width: 100%;
        border-radius: 10px;
      }
      
      .title-sub-module {
        margin-bottom: 12px;
      }

      .sub-module-item h2 {
        font-size: 12px;
      }

      .sub-module-item p {
        font-size: 9px;
      }
      
      .description {
        padding: 5px;
        margin-top: 10px;
      }
}

@media screen and (min-width: 1200px) {
    .module {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}